#wall .tag-1 {
    display: none;
}

body #wall #tag-2 {
    display: none;
}

body div#wall div#tag-3[class="slick wicked"]  {
    display: none;
}

body div#wall div.parent div#tag-4 {
    display: none;
}

body div#wall div.parent div#tag-5[class="slick"] {
    display: none;
}

body div#wall div.parent div:last-child div#tag-6 {
    display: none;
}

body div#wall div.parent div > div#tag-7[class="slick"] {
    display: none;
}